@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}

.basicBox{
  width: 150px;
  height: 45px;
  margin: 0 auto;
  color: #af6ee8;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 1.15rem;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  /*cursor: pointer;*/
}

svg {
  /*padding-left: 5%;*/
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: #af6ee8;
  stroke-width: 1;
}

.basicBox:hover svg rect {
  stroke: #af6ee8;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
